/* Reset some default browser styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* General styling */
body {
    font-family: 'Arial', sans-serif;
    background-color:#fff:
    color: #333;
}
{
    box-sizing: border-box;
  }
img {
    width: 30%;
    height: 30%;
}


.main-content {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background-color: #fff;
}

footer {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 1em;
}

/* Add specific styling for each page if needed */
